.todo-contianer {
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 350px;
  box-shadow: 5px 5px 5px 5px #eee;
  gap: 1rem;
}

.todo-form {
  display: flex;
  gap: 10px;
}

.todo-form input {
  padding: 10px;
  width: 250px;
  border-radius: 8px;
  border: 1px solid rgba(51, 51, 51, 0.5);
}

.todo-form button {
  padding: 10px 15px;
  border-radius: 5px;
  border: none;
  background-color: rgba(137, 43, 226, 0.7);
  color: white;
  cursor: pointer;
}

.todo-form button:hover {
  background-color: rgba(137, 43, 226);
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  border: 1px solid #eee;
  border-radius: 8px;
  padding: 15px;
  background-color: #eee;
}

.btn-delete {
  padding: 8px 12px;
  border: none;
  border-radius: 8px;
  background-color: rgba(255, 0, 0, 0.7);
  color: white;
  cursor: pointer;
}

.btn-delete:hover {
  background-color: rgba(255, 0, 0);
}
