*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.form-register{
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* align-items: center; */
    margin: 5% auto;
    padding: 1rem;
    width: 350px;
    border-radius: 8px;
    box-shadow: 5px 8px 5px 8px rgba(0, 0, 0, 0.3);
}

.username{
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 10px;
}

.username label, input{
    font-size: 1.2rem;
    border-radius: 8px;
}

.email{
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 10px;
}

.email label, input{
    font-size: 1.2rem;
    border-radius: 8px;
}

.grade{
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 10px;
}

.grade label, select{
    font-size: 1.2rem;
    border-radius: 8px;
}

.subject{
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 10px;
}

.subject span{
    font-size: 1rem;
    margin-left: 8px;
    
}

.error{
    /* border: 1px solid rgba(255, 0, 0, 0.3); */
    color: red;
    font-size: 1rem;
}

button{
    background-color: rgba(255, 0, 0, 0.8);
    color: white;
    cursor: pointer;
    border: none;
    border-radius: 8px;
    padding: 10px;
    font-size: 1rem;
}


