.formValidate{
    display: flex;
    flex-direction: column;
    width: 450px;
    padding: 10px;
    margin: 5% auto;
    border-radius: 8px;
    box-shadow: 5px 8px 5px 7px rgba(0, 0, 0, 0.3);
    /* height: 350px; */
    gap: 7px;
}

input, select{
    border-radius: 4px;
    font-size: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

p{
    border: none;
    width: 185px;
    color: red;
    padding: 5px;

}

button{
    background-color: rgba(214, 3, 3, 0.8);
    border: none;
    border-radius: 8px;
    padding: 10px 0;
    color: white;
}