body {
  background-color: rgba(128, 128, 128, 0.1);
  display: flex;
  justify-content: center;
  margin: 2% auto;
}

.container {
  flex-wrap: wrap;
  width: 450px;
  margin: 10px;
}

.Student {
  display: flex;
  flex-direction: column;
  width: 350px;
  height: 200px;
  padding: 1rem;
  border: 1px solid black;
  border-radius: 1rem;
  background-color: white;
  box-shadow: 8px 1px 5px black;
  margin: 10px;
}
