* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
  background-color: rgba(128, 128, 128, 0.5);
  box-shadow: 2px 5px 2px rgba(0, 0, 0, 0.1);
  border-radius: 0 0 10px 10px;
  margin-bottom: 1rem;
  color: white;
}

.logo {
  font-size: 2.5rem;
  cursor: pointer;
}

.logo:hover {
  font-style: italic;
}

nav ul {
  display: flex;
}

nav li,
a {
  list-style: none;
  padding: 10px;
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
}

.post {
  margin: 10% auto;
  height: 35vh;
  padding: 2.5rem;
}

.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1.5rem;
  background-color: black;
  color: white;
}
