@import "tailwindcss";

body {
  font-family: "Roboto Condensed", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10% auto;
  background-color: rgba(255, 255, 255, 0.5) ;
}